{% extends "../../admin/layout.njk" %}

{% block content %}

    <main class="admin">
        
        <section>

            <div class="title">
                <strong>Criando chef</strong>
                <button form="create" type="submit">Salvar chef</button>
            </div>

            <form id="create" method="post" action="/admin/chefs">

            {% include "admin/chefs/fields.njk" %}
        
            </form>
            
        </section>

    </main>

{% endblock content %}
