{% extends "admin/layout.njk" %}

{% block content %}

    <main>
        <div class="title">
        
            <p><strong>Criando receita</strong></p>

            <div>
                <button form="create" type="submit">Salvar receita</button>
            </div>

        </div>

        <form id="create" method="post" action="/admin/recipes">

        {% include "admin/fields.njk" %}
    
        </form>

    </main>

{% endblock content %}

{% block scripts %}
    <script src="/admin/scripts.js"></script>
{% endblock scripts %}