<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
            <title>Foodfy - Admin</title>
        {% endblock head %}

        {% block styles %}
            <link rel="stylesheet" href="/style.css">
        {% endblock styles %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    </head>
    <body>
        <header class="admin">
            <div>
                <div class="links">
                    <a href="/admin"><img src="/assets/logo white.png" alt="logo"></a>
                    <a href="/admin/recipes">RECEITAS</a>
                    <a href="/admin/chefs">CHEFS</a>
                </div>
            </div>
                
        </header>


        {% block content %}{% endblock content %}
        {% block scripts %}{% endblock scripts %}
        <script src="/scripts.js"></script>

    </body>
</html>