{% extends "view/layout.njk" %}

{% block content %}

    <main>
        <section class="intro">
            <div>
                <p>
                    <strong>As melhores receitas</strong>
                </p>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>

            <img src="/assets/chef.png" alt="Chefe de cozinha">
        </section>

        <section class="recipes">
            <h1>Mais acessadas</h1>

            <div class="cards">

                {% if data.recipes|length < 6 %}
                    {% for recipe in data.recipes %}
                        <div class="card">

                            <div 
                            class="card__img"
                            style="background: url({{ recipe.image_url }}) no-repeat center center / cover">
                            </div>

                            <div class="card__title">
                                <p>{{ recipe.title }}</p>
                            </div>

                            <div class="card__author">
                                <p>por {{ recipe.author }}</p>
                            </div>

                            <div class="card__id">{{ recipe.id }}</div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for i in[
                        0,
                        1,
                        2,
                        3,
                        4,
                        5
                    ] %}
                    
                        <div class="card">
                            <div 
                            class="card__img"
                            style="background: url({{ data.recipes[i].image_url }}) no-repeat center center / cover">
                            </div>

                            <div class="card__title">
                                <p>{{ data.recipes[i].title }}</p>
                            </div>

                            <div class="card__author">
                                <p>por {{ data.recipes[i].author }}</p>
                            </div>

                            <div class="card__id">{{ data.recipes[i].id }}</div>
                        </div>

                    {% endfor %}
                {% endif %}
                

            </div>
        </section>
    </main>

{% endblock content %}

{% block scripts %}
    <script src="/view/scripts.js"></script>
{% endblock scripts %}