{% extends "view/layout.njk" %}

{% block head %}
    <title>Foodfy | Receitas</title>
{% endblock head %}

{% block content %}
    <main>

        <section class="recipes">

            <div class="cards">

                {% for recipe in data.recipes %}

                    <div class="card">
                        <div 
                            class="card__img"
                            style="background: url({{ recipe.image_url }}) no-repeat center center / cover">
                            </div>

                        <div class="card__title">
                            <p>{{ recipe.title }}</p>
                        </div>

                        <div class="card__author">
                            <p>por {{ recipe.author }}</p>
                        </div>

                        <div class="card__id">{{ recipe.id }}</div>
                    </div>

                {% endfor %}

            </div>
        </section>
    </main>

{% endblock content %}

{% block scripts %}
    <script src="/view/scripts.js"></script>
    <script src="/header.js"></script>
{% endblock scripts %}