@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
    --text-color: #111111;
    --intro-color: #FBDFDB;
    --gray-color: #777777;
    --purple-color: #6558C3;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

header {
    height: 80px;
    background-color: var(--text-color);
    align-items: center;
    display: flex;
}

header div, main {
    max-width: 940px;
    margin: 0 auto;
}

header div {
    position: relative;
    width: 940px;
}

header div a:last-child {
    position: absolute;
    right: 4px;
    padding: 8px;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #111111;
    border-radius: 4px;
}

/* === INDEX PAGE === */

.index {
    margin-top: 50px;
}

.index p {
    display: flex;
    justify-content: space-between;
}

.index p strong {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.index p a {
    margin-left: 16px;
    padding: 9px 20px;
    border-radius: 4px;
    background-color: var(--purple-color);
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
}

/* === CARDS === */

.card {
    display: flex;
}

.card__img {
    width: 172px;
    height: 80px;
    border-radius: 8.57px;
}

.card__content {
    margin-left: 20px;
}

.card__title p {
    font-size: 18px;
    line-height: 21px;
}

.card__author p,
.card__link a {
    font-size: 14px;
    line-height: 16px;
}

.card__author {
    color: var(--gray-color);
    margin-top: 5px;
}

.card__link {
    margin-top: 10px;
}

.card__link a {
    color: var(--purple-color);
    font-weight: bold;
    text-decoration: none;
}

/* === RECIPE PAGE === */

.title {
    margin: 55px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title p,
.detail__title h1 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.title a {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    padding: 9px 20px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    background-color: var(--purple-color);
}

.recipe img {
    border-radius: 15px;
}

.recipe__title p,
.recipe__author p {
    text-align: center;
}

.recipe__title {
    margin-top: 46px;
}

.recipe__title p {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
}

.recipe__author {
    margin-top: 4px;
}

.recipe__author p {
    font-size: 20px;
    line-height: 24px;
    color: var(--gray-color);
}

.detail__title {
    margin-top: 31px;
}

.detail__content {
    margin: 19px 0 41px 0;
}

.detail__content p,
.detail__content ul {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    text-align: justify;
}

.detail__content ul {
    list-style: inside;
}

/* === EDIT PAGE === */

.title div {
    display: flex;
}

.title div button {
    margin-right: 10px;
}

.title div button:last-child {
    margin-right: 0;
}

form {
    margin-bottom: 50px;
}

button,
input,
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

button[type="submit"] {
    padding: 9px 20px;
    border-radius: 4px;
    background-color: var(--purple-color);
    color: white;
}

button[type="button"] {
    background: none;
    color: var(--purple-color);
    margin-top: 15px;
}

button[type="submit"][form="delete"] {
    background-color: #DC4747;
} 

.item {
    margin-top: 30px;
}

.item div:first-child {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    outline: none;
    margin-top: 10px;
    padding: 15px 20px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

input,
textarea {
    font-weight: normal;
}

textarea {
    height: 250px;
    resize: none;
    line-height: 24px;
}

.ingredient,
.step {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.ingredient input,
.ingredient button,
.step input,
.step button {
    margin-top: 0;
}

.rm-item {
    margin-left: 8px;
}