{% extends "user/layout.njk" %}

{% block content %}

    <main>
        <section class="intro">
            <div>
                <p>
                    <strong>As melhores receitas</strong>
                </p>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>

            <img src="/assets/chef.png" alt="Chefe de cozinha">
        </section>

        <section class="mostAcessed">
            <h1>Mais acessadas</h1>

            <div class="recipesCards">

                    {% for recipe in recipes %}
                        <div class="recipeCard">

                            <div 
                            class="recipe_img"
                            style="background: url('{{recipe.files[0].src}}') no-repeat center center / cover">
                            </div>

                            <div class="recipe_title">
                                <p>{{ recipe.title }}</p>
                            </div>

                            <div class="recipe_chef">
                                <p>por {{ recipe.chef_name }}</p>
                            </div>

                            <div class="recipe_id">{{ recipe.id }}</div>
                        </div>
                    {% endfor %}
                
            </div>
        </section>
    </main>

{% endblock content %}